/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@use "styles/pallete.scss" as pallete;

@import "styles/normalize.scss";
@import "styles/fonts.scss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: pallete.get-color(background, main);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  border-width: 0;
  padding: 0;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}


/* Extra small devices (phones) */
@media only screen and (max-width: 833px) {

}

/* Medium devices (tablets) */
@media only screen and (min-width: 834px) {

}

/* Large devices (laptops and desktops) */
@media only screen and (min-width: 1440px) {

}
