/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@use "styles/pallete.scss" as pallete;

@import "styles/normalize.scss";
@import "styles/fonts.scss";

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: pallete.get-color(background, main);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  border-width: 0;
  padding: 0;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}
